[build]
  command = "npm run build"
  publish = "build"

[functions]
  directory = "netlify/functions"

[dev]
  framework = "#auto"
  command = "npm start"
  targetPort = 3000
  port = 8888
  publish = "public"